#menu, #menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.marginTop{
	margin-top: 26px;
}

html,body,#content,#create-profile,#drag-area {
	min-height: 99%;
	height: 99%

}

#content {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}






.highlight {
	background-color: #FFFACD;
	/* border: 1px dashed #b5c051;
 -moz-border-radius: 10px;*/
}

.editable-text div div {
	min-height: 1.6em;
}



.profile-text {
	min-height: 26px;
}

#profile .profile-text .editable-text div div {
	margin-left: 7.5em;
	overflow: hidden;
}

#profile textarea {
	width: 100%;
}

.editable-text .description-label {
	margin-left: 0px;
	min-height: 5.9em;
}



label {
	vertical-align: top;
	float: left;
	width: 7.7em;
	margin-right: 1em;
}

.text-area-label {
	width: 100%
}

#avatar-div {
	float: right;
	margin-bottom: 15px;
}



.profile-text ul {
	display: block;
	list-style: none;
}

body {
	background: url(../images/desk.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.6;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}


pre {
	font-family: 'Crafty Girls', cursive;
	
}
.paper {
	min-height: 700px;
	font-family: 'Crafty Girls', cursive;
	/*float: left;*/ /* float containment */
	min-width: 600px;
	max-width: 80em;
	padding: 3.2em 1.6em 1.6em 1.6em;
	margin-left: 240px;
	margin-right: 240px;
	border-width: 0 0 0 50px;
	-moz-border-image: url(../images/edge.png) 0 0 0 50 round;
	-webkit-border-image: url(../images/edge.png) 0 0 0 50 round;
	border-image: url(../images/edge.png) 0 0 0 50 round;
	background: url(../images/paperlines.gif) #FBFBF9; /* IE, old FF */
	background:
		url(../images/paperlines.gif) #FBFBF9;
	-moz-background-size: auto, auto, auto, auto, auto, auto 1.6em;
	-webkit-background-size: auto, auto, auto, auto, auto, auto 1.6em;
	background-size: auto, auto, auto, auto, auto, auto 1.6em;
	/* Chrome, Opera 10.5 */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* Chrome, Opera 10.5 */
	-moz-box-shadow: 6px 5px 3px hsla(0, 0%, 0%, .2);
	-webkit-box-shadow: 6px 5px 3px hsla(0, 0%, 0%, .2);
	box-shadow: 6px 5px 3px hsla(0, 0%, 0%, .2);
}

h1 {
	margin: -.3em 0 .14em 0;
	color: #414141;
	font-family: 'Crafty Girls', cursive;
	font-size: 3.5em;
	font-weight: normal;
}

.profile-text,.picture-text {
	margin: 0 0 1.6em 0;
}

a {
	color: #146DA3;
}

img {
	border: 1px solid #ccc;
}

input {
	font-size: .8em;
	border: 1px solid #666;
}

textarea {
	font-size: 1.1em;
	border: 1px solid #666;
}



.hidden {
	display: none;
}

.postit {
	-moz-box-shadow: 3px 6px 8px -4px #999;
	-webkit-box-shadow: 3px 6px 8px -4px #999;
	box-shadow: 3px 10px 8px -4px #999;
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
	text-align: center;
	width: 215px;
	margin: 25px;
	min-height: 125px;
	max-height: 125px;
	padding-bottom: 15px;
	position: relative;
	border: 1px solid #E8E8E8;
	border-top: 60px solid #fdfd86;
	font-size: 22px;
	border-bottom-right-radius: 60px 5px;
	background: rgb(255, 255, 136); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%,
		rgba(255, 255, 214, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(77%, rgba(255
		, 255, 136, 1) ), color-stop(100%, rgba(255, 255, 214, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%,
		rgba(255, 255, 214, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%,
		rgba(255, 255, 214, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%,
		rgba(255, 255, 214, 1) 100% ); /* IE10+ */
	background: linear-gradient(-45deg, rgba(255, 255, 136, 1) 77%,
		rgba(255, 255, 214, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#ffff88',
		endColorstr='#ffff88', GradientType=0 );
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
	/* IE6-9 fallback on horizontal gradient */
}

#avatar {
	padding: 5px 5px 30px 5px;
	background: #fff;
	-moz-box-shadow: 3px 6px 8px -4px #999;
	-webkit-box-shadow: 3px 6px 8px -4px #999;
	box-shadow: 3px 6px 8px -4px #999;
	-moz-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	-webkit-transform: rotate(8deg);
	transform: rotate(8deg);
}

.image {
	padding: 5px 5px 30px 5px;
	background: #fff;
	-moz-box-shadow: 3px 6px 8px -4px #999;
	-webkit-box-shadow: 3px 6px 8px -4px #999;
	box-shadow: 3px 6px 8px -4px #999;
	cursor: move;
	margin-right: 100px;
}

.image-right  {
	margin-top : -40px;
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}

.image-left  {
	margin-top : -40px;
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}


#photos-right{
	float : right;
	width :200px;
	
}
#photos-left{
	/*z-index : -1;*/
	width :200px;
	padding-left :50px;
	
}

